<bs-navbar></bs-navbar>

<div class="container">
<div class="row">
  <div class="col-lg-12 cl-md-12 col-sm-12 col-xs-12">
      <img src="assets/img/about-us-background.jpg" style="height:340px; width:100%"/>
      <h1 style="text-decoration:underline;color:white; text-align:center; margin-top:-150px;">ABOUT US</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 cl-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top: 100px;
  background-color: #a5a4a2;">
    <h2 style="text-decoration:underline;margin-top: 60px;">Who are We</h2>
    <br>
    <p style="font-size: 21px;margin-right: 100px; margin-left: 100px;color: white; margin-bottom: 40px;">
      We are enthusiast tech learner who wants to imply technology to solve real world problem along with make a better life.  Disharii is the result of long term brwinstorming and months of analysis.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 cl-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top: 2px;
  background-color: #f08c1d;">
    <h2 style="text-decoration:underline;margin-top: 60px;">About Disharii</h2>
    <br>
    <p style="font-size: 21px;margin-right: 100px; margin-left: 100px;color: white; margin-bottom: 40px;">
      Disharii wants to make people read in a digital way. Now a days, people Don't want to buy book or carry book. They waste lots of time here and there. With dishari they can read book online from anywhere, from any device. People can make their own library. 
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 cl-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top: 2px;
  background-color: #a5a4a2;">
    <h2 style="text-decoration:underline;margin-top: 60px;">Mission and Vision</h2>
    <br>
    <p style="font-size: 21px;margin-right: 100px; margin-left: 100px;color: white; margin-bottom: 40px;">
      Reading and learning is the ultimate process of being knowledgeable and intelligent. Our target is to make people read and learn anything and everything.  Also in a country like Bangladesh,  many poeple are not able to buy book. For them disharii helps them to read and buy the soft copy for very small amount. It will grow the interest of reading book.
We want to enhance technology to build Bangladesh a better place where people will be smarter than others.
    </p>
  </div>
</div>
</div>
<app-footer></app-footer>