<bs-navbar></bs-navbar>
<div class="container">
  <div class="row">
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <br>
      <br>
      <h3 style="text-align:center">Your Book Issue Number is : <span style="color:#0b6616">B3453</span></h3>
      <br>
     

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
      
      <h4 style="text-align:center; color:#f04a09">This Book(s) Will Be Added To Your Library Soon.</h4>
      <br>
      <br>

    </div>

  </div>
</div>
<app-footer></app-footer>