<bs-navbar></bs-navbar>

<div class="container">

    <div class="row">    
        <mat-card>
          <h5>If you like our effort, we would Like to request you to make a small contribution to our company. It will boost our passion and so that we can integrate so
             many new features which can enhance your experience in our system.</h5>

        </mat-card>   
        <mat-card>
        
            <h5>Share an Idea
                You can also share your idea regarding our system, how people can be more benefited and which will make our system standalone from others.
                 We always appreciate your thinking and idea. Please feel free to suggest us.</h5>
        </mat-card>
    </div>
   
  </div>
<app-footer></app-footer>