<!--================Footer Area =================-->
<footer class="footer_area">
    <div class="container">
        <div class="footer_widgets">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-6">
                    <aside class="f_widget f_about_widget">
                        <img src="assets/img/logo-final-with-tagline.png" alt="" style=" height: 55px;">
                        <p>DishariI is the 1st online Digital Library in Bangladesh.</p>
                        <h6>Social:</h6>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" style="color: #0e3cff;"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" style="color: #09aff0;"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" style="color: #ff0a0a;"></i></a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <aside class="f_widget link_widget f_info_widget">
                        <div class="f_w_title">
                            <h3>DISHARI</h3>
                        </div>
                        <ul>
                            <li><a routerLink="/about-us">About us</a></li>
                            <li><a href="#">Best Selling Books</a></li>
                            <li><a href="#">Earn Money</a></li>
                            <li><a href="#">Help Center</a></li>

                        </ul>
                    </aside>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <aside class="f_widget link_widget f_service_widget">
                        <div class="f_w_title">
                            <h3>Business With Us</h3>
                        </div>
                        <ul>
                            <li><a href="#">Share Book</a></li>

                            <li><a href="#">Publish Book</a></li>
                            <li><a href="#">Proof Reading</a></li>
                            <li><a href="#">Share ana Idea</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <aside class="f_widget link_widget f_extra_widget">
                        <div class="f_w_title">
                            <h3>Benifits</h3>
                        </div>
                        <ul>
                            <li><a href="#">Famous Writters</a></li>
                            <li><a href="#">Special Offer</a></li>
                            <li><a href="#">Ask For a Book</a></li>
                            <li><a href="#">Contact With Us</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <aside class="f_widget link_widget f_account_widget">
                        <div class="f_w_title">
                            <h3>User Info</h3>
                        </div>
                        <ul>
                            <li><a href="#">My Library</a></li>
                            <li><a href="#">Create Account</a></li>
                            <li><a href="#">Upload a Book</a></li>
                            <li><a href="#">Write a Review</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            <h5>©
                <script>document.write(new Date().getFullYear());</script>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All Rights Reserved <i class="fa fa-heart-o"
                    aria-hidden="true"></i> by <a href="https://wings-soft.com" target="_blank">WINGS</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </h5>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->