<bs-navbar></bs-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <form #f="ngForm" >
                <div class="form-group">
                  <label for="">Email Address</label>
                  <input #name="ngModel" name="name" [(ngModel)]="shipping.mobileNo" type="text" class="form-control" required>
                  <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                    <div *ngIf="name.errors.required">Email is required.</div>
                  </div>
                </div>
                
                <button 
                  [disabled]="!f.valid"
                  (click)="resetPassword()"
                  class="btn btn-primary">Reset Passord
                </button>

                <p *ngIf="error!=''" class="text-danger">{{error}}</p>
                <p *ngIf="resetPass" class="text-success">Check your email to reset password!</p>
              </form>  

         </div> 
   </div> 
</div>